<!DOCTYPE html>
<html lang="{{ site.lang | default: 'ru' }}" data-theme="light">
<head>
{% include head.html %}
</head>
<body class="{{ page.body_class }}" data-base="{{ site.baseurl }}" data-hidden-cats="{{ site.hidden_categories | join: ',' }}" data-page-size="{{ site.page_size }}">
<a class="skip-link" href="#content">РџРµСЂРµР№С‚Рё Рє СЃРѕРґРµСЂР¶РёРјРѕРјСѓ</a>
{% include header.html %}
<main id="content" class="site-main">
{{ content }}
</main>
{% include footer.html %}
<script src="{{ '/assets/js/main.js' | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M' }}" defer></script>
{% include analytics.html %}
<script src="{{ "/assets/js/particles.min.js" | relative_url }}"></script>
</body>
</html>





