<!DOCTYPE html>
<html lang="{{ site.lang | default: 'ru' }}" data-theme="light">
<head>
{% include head.html %}
</head>
<body class="{{ page.body_class }}" data-base="{{ site.baseurl }}" data-hidden-cats="{{ site.hidden_categories | join: ',' }}" data-page-size="{{ site.page_size }}">
<a class="skip-link" href="#content">Перейти к содержимому</a>
{% include header.html %}
<main id="content" class="site-main">
{{ content }}
</main>
{% include footer.html %}
<script src="{{ '/assets/js/main.js' | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M' }}" defer charset="utf-8"></script>
{% if site.seasonal_effects != false %}<script src="{{ '/assets/js/season.js' | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M' }}" defer charset="utf-8"></script>{% endif %}
{% include analytics.html %}
</body>
</html>
